@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--error: #ef4444;
	--primary-black: #000;
	--primary-neutral: #404040;
	--primary-white: #fff;
	--zinc-100: #f4f4f5;
	--zinc-200: #e4e4e7;
	--zinc-300: #d4d4d8;
	--zinc-500: #71717a;
	--zinc-800: #27272a;
    --font-family: "Sora", sans-serif;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
}

.logo {
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: var(--primary-black);
    cursor: pointer;
}

.header_button {
    cursor: pointer;
}

.main {
    width: 100%;
    height: 100%;
}

.start {
    width: 100%;
    padding: 60px 112px;
    display: flex;
    align-items: center;
}

.start_text h1 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 48px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: var(--primary-black);
    padding-bottom: 32px;
}

.start_text span {
    font-weight: 800;
}

.start_text p {
    max-width: 600px;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--zinc-500);
}

.start_links {
    margin-top: 60px;
    display: flex;
    gap: 32px;
}

.social {
    width: 56px;
    height: 56px;
    background: transparent;
    border: 2px solid var(--primary-black);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social img {
    width: 20px;
    height: 20px;
}

.skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.skills_name {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 48px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: var(--primary-black);
    padding-bottom: 60px;
}

.skills_name span {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 48px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: var(--primary-black);
}

.skills_content {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

.skills_element {
    width: 186px;
    height: 186px;
    border: 2px solid var(--primary-black);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.skills_element img {
    width: 56px;
    height: 56px;
}

.skills_element p { 
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--primary-black);
}

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.about_me {
    padding: 60px 112px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.about_info {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.about_info h1{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 48px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: var(--primary-black);
}

.about_info span {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 48px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: var(--primary-black);
}

.about_info p {
    max-width: 610px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--zinc-500);
}

.projects {
    width: 100%;
    height: 100%;
    padding-top: 60px;
    background: var(--primary-black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects h1 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 48px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: var(--primary-white);
    padding-bottom: 80px;
}

.projects span {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 48px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: var(--primary-white);
}

.projects_content {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.projects_element {
    gap: 100px;
    display: flex;
    align-items: center;
}

.project_name {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: var(--primary-white);
    padding-bottom: 28px;
}

.project_bio {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--zinc-500);
    padding-bottom: 20px;
}

.project_link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: var(--primary-white);
    text-decoration: none;
}

.footer_form {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    gap: 110px;
    align-items: center;
}

.form_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form_content input {
    width: 500px;
    height: 56px;
    border: 1.40px solid var(--primary-black);
    border-radius: 4px;
    outline: none;
    padding-left: 24px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: var(--zinc-500);
}

.form_content textarea {
    width: 500px;
    height: 140px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: var(--zinc-500);
    outline: none;
    resize: none;
    border: 1.40px solid var(--primary-black);
    border-radius: 4px;
    padding: 20px 20px;
}

.form_submit {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--primary-white);
    background: var(--primary-black);
    padding: 20px 60px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 60px;
}

.form_extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.form_extra h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 48px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: var(--primary-black);
}

.form_extra span {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 48px;
    line-height: 117%;
    letter-spacing: -0.02em;
}

.form_extra p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--zinc-500);
}

.form_extra h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 114%;
    letter-spacing: -0.02em;
    color: var(--primary-black);
}